/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */

/*================================
    GOOGLE FONT
==================================*/

@import url(http://fonts.googleapis.com/css?family=Comfortaa);

/*================================
  GENERAL STYLES
==================================*/

body {
   font-family: 'Comfortaa', cursive;
    line-height: 30px;
    font-size: 12px;
	background-color:#090808;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pad-bottom {
    padding-bottom: 70px;
}

.text-right {
    text-align:right;
}

.head-line {
 margin-bottom: 20px;
line-height: 30px;
font-size: 28px;
color: #737373;
}


/*================================
  HEADER STYLES
==================================*/

header {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */

background: #4c4c4c; /* Old browsers */

background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */

background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */


    color:#fff;
    padding-top: 10px;
    padding-bottom: 12px;
}

    header .logo-wrapper img {
      max-height: 35px;
    }
    header .menu-links {
        padding-top:5px;
    }
 header .menu-links a {
        font-size:30px;
        color:#fff;
        font-weight:900;
        margin:15px;
        
    }
    header .menu-links a:hover, header .menu-links a:focus {
         text-decoration:none;
          -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
         -o-transform: scale(1.5);
            transform: scale(1.5);
             -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
    }

   

/*================================
  HOME SECTION STYLES
==================================*/

#home {
    background: url(../img/home.jpg) no-repeat center center; 
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;    
}

    #home .overlay {
        padding-top: 50px;
        background-color: rgba(36, 36, 36, 0.4);
        min-height: 650px;
        padding-bottom: 60px;
    }
     #home h1 {
      margin-bottom: 20px;
line-height: 40px;
font-size: 44px;
color: #990000;
text-transform:uppercase;
    }
    #home h4 {
      margin-bottom: 30px;
line-height: 40px;
font-size: 16px;
color: #D0D0D0;
    } 

/*================================
  BUTTON STYLES
==================================*/
.btn-custom {
   min-height:60px;
    border-radius:30px;
-webkit-border-radius:30px;
-moz-border-radius:30px;
padding:15px 40px 15px 40px;
-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
   margin:25px 5px 5px 0px;
}

.btn-one {   
background-color: transparent;
border:5px solid #990000; 
color:#FFF;       
  
}
 .btn-one:hover {
 background-color:#990000;
 color:#fff;
 text-decoration:none;
    }

 .btn-two {   
background-color: #990000;
border:5px solid #990000; 
color:#fff;       
  
}
 .btn-two:hover {
 background-color:transparent;
 color:#fff;
 text-decoration:none;
    }
.btn-three {   
   
background-color:transparent;
border:5px solid #737373; 
color:#000;       
  
}
 .btn-three:hover {

 background-color:#737373;
 color:#fff;
 text-decoration:none;
    }

 
 /*================================
    ABOUT STYLES
==================================*/

 .icon-wrapper {
    padding-bottom:20px;
    padding-top:20px;
    font-size:50px;
}
 
.img-side {
    max-height:420px;
}


/*================================
    FOOTER SECTION STYLES
 ============================  */
footer {
    padding:15px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */

background: #7d7e7d; /* Old browsers */

background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */

background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */


    color:#fff;
    }
    footer a,footer a:hover,footer a:focus {
        color:#fff;
        text-decoration:none;
        margin-right:10px;
        margin-left:10px;
    }

/*================================
    RESPONSIVE STYLES
 ============================  */

@media (min-width: 100px) and (max-width: 498px) {
    #email-subscribe .form-control
{
display:block;
width:100%;
}

#email-subscribe .btn-subscribe
{
margin-top:20px;
}

}

.cccover {display:none;}
.ccalbum {display:none;}
a.ccbuy {display:none;}

tr.cccover {
background-color: #000;
border: 1px solid #c6c6c6;
float: left;
margin-right: 8px;
clear: left;
padding: 2px;
  display: none;
}

.cctrack .cctitle {
	color: #FFF;
	font-size: 125%;
	margin-bottom: 0px;
	overflow: hidden;
	background: rgb(149,149,149); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
	padding-bottom: 5px;
	padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.cctrack .ccartist {
	color: #E2DEDE;
	font-size: 100%;
	margin-bottom: 5px;
	overflow: hidden;
	padding-bottom: 15px;
	padding-top: 5px;
  padding-left: 15px; padding-right: 15px;
	background: rgb(169,3,41); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */


  border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

